# --- LLAMA ---------------------------
ollama >= 0.5.1             # Python bindings for Ollama, through which we can run Llama models

# --- Stable Diffusion ----------------
# TODO

# --- MISC ----------------------------
click >= 8.2.0              # CLI interface
pillow >= 11.2.0            # Image processing
pydantic >= 2.11.0          # Data classes with convenient (de)serialization
tqdm >= 4.67.0              # progress bars
